{% extends 'include/homepage.html'%}
{% load static %}
{% block content %}
    <!-- ====== start loading page ====== -->
    <div id="preloader">
    </div>
    <!-- ====== end loading page ====== -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- ====== start navbar-container ====== -->
    {% include 'include/header.html'%}
    <!-- ====== start navbar-container ====== -->

    <!-- ====== start nav search ====== -->
    <div class="tc-blog-nav-search">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="info">
                        <br>
                        <h2>Голосование</h2>

                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!--Contents-->
    <main>
        <section class="tc-popular-posts-blog">
            <div class="container">
                <div class="content-widgets pt-50 pb-50">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="tc-post-list-style3">
                                <div class="items">
                                    <div class="container">
                                        <div class="voting-section">
                                            <h1>{{voting.title}}</h1>
                                            <p>{{voting.descriptions|safe}}</p>
                                            <div class="timer" id="countdown-timer">
                                                До окончания голосования осталось: <br> 
                                                <!-- Сюда будет вставлен обратный отсчет -->
                                            </div>
                                            <div class="advertisement-section">
                                            {%if advert.url%}
                                            <a href="{{advert.url}}">
                                            {% endif %}
                                                <img src="{{advert.image.url}}" alt="Реклама" class="advertisement-image">
                                            </a>
                                            </div>
                                              
                                        </div>
                                        <br>
                                        {% if not voting.has_ended %}
                                            {% if user.is_authenticated %}
                                            {% for nomination in nominations %}
                                                <div class="voting-container" id="nominationContainer{{ nomination.id }}">
                                                    <div class="initial-poll" id="initialPoll{{ nomination.id }}">
                                                        <div class="voting-header">{{ nomination.name }}</div>
                                                        <form method="post" action="{% url 'vote' %}" class="voteForm">
                                                            {% csrf_token %}
                                                            <ul class="options" id="options{{ nomination.id }}">
                                                                {% for option in nomination.options.all %}
                                                                    <li class="voting-option">
                                                                        <input type="radio" id="option{{ option.id }}" name="option{{ nomination.id }}" value="{{ option.id }}">
                                                                        <label for="option{{ option.id }}">{{ option.name }}</label>
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                            <button class="vote-button" name = "vote_send" type="button" data-nomination-id="{{ nomination.id }}">Проголосовать</button>
                                                        </form>
                                                    </div>
                                                    <div class="results-container" id="resultsContainer{{ nomination.id }}" style="display: none;">
                                                        <h2 class="results-header">Результаты голосования</h2>
                                                        <div class="resultsList" id="resultsList{{ nomination.id }}">
                                                            <!-- Результаты будут добавлены здесь -->
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                            {% else %}
                                                <p>Для участия в голосовании необходимо <a href="{% url 'login' %}">войти в систему</a>.</p>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3" >
                            <div class="widgets-sticky mt-5 mt-lg-0" >
                                <p class="color-000 text-uppercase mb-30"> ОСТАВАЙСЯ НА СВЯЗИ  </p>
                                <!-- widget-social -->
                                <div class="tc-widget-social-style5 mb-40" style="border-radius: 15px;">
                                    {% if setting.facebook%}
                                    <a href="{{setting.facebook}}" class="social-card">
                                        <div class="icon facebook-icon">
                                            <i class="lab la-facebook-f"></i>
                                        </div>
                                        <div class="cont">
                                            <span>Facebook</span>
                                        </div>
                                    </a>
                                    {% endif %}
                                    {% if setting.whatsapp%}
                                    <a href="{{setting.whatsapp}}" class="social-card">
                                        <div class="icon whatsapp-icon">
                                            <i class="lab la-whatsapp"></i>
                                        </div>
                                        <div class="cont">
                                            <span>Whatsapp</span>
                                        </div>
                                    </a>
                                    {% endif %}
                                    {% if setting.instagram%}
                                    <a href="{{setting.instagram}}" class="social-card">
                                        <div class="icon insta-icon">
                                            <i class="lab la-instagram"></i>
                                        </div>
                                        <div class="cont">
                                            <span>Instagram</span>
                                        </div>
                                    </a>
                                    {% endif %}
                                    {% if setting.youtube%}
                                    <a href="page-blog.html#" class="social-card border-0 pb-0">
                                        <div class="icon youtube-icon">
                                            <i class="lab la-youtube"></i>
                                        </div>
                                        <div class="cont">
                                            <span>Youtube</span>
                                        </div>
                                    </a>
                                    {% endif %}
                                </div>

                                <!-- widget-trends -->
                                <div class="tc-trending-news-style5 border border-1 brd-gray mb-40" style="border-radius: 15px;">
                                    <p class="color-000 text-uppercase p-15">Популярные Новости</p>
                                    <div class="tc-post-list-style1">
                                        {% for blog in popular_post%}
                                            <div class="tc-post-overlay-default">
                                                <div class="img th-200 img-cover">
                                                    <img src="{{blog.image.url}}" alt="">
                                                </div>
                                                <div class="content ps-20 pe-20 pb-20 text-white">
                                                    <a href="{% url 'blog_detail' blog.id%}" class="text-uppercase fsz-13px mb-1">{{blog.category}}</a>
                                                    <h4 class="title">
                                                        <a href="{% url 'blog_detail' blog.id%}">{{blog.title}}</a>
                                                    </h4>
                                                </div>
                                            </div>
                                        {% endfor %}
                                        <div class="items px-4 py-2">
                                            {% for blog in popular_posts%}
                                                <div class="item">
                                                    
                                                    <div class="content">
                                                        <a href="{% url 'blog_detail' blog.id%}" class="color-999 fsz-12px text-uppercase mb-1">{{blog.category}}</a>
                                                        <h6 class="title fsz-16px fw-bold ltspc--1 hover-main">
                                                            <a href="{% url 'blog_detail' blog.id%}" class="">{{blog.title}}</a>
                                                        </h6>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                           
                                        </div>
                                    </div>
                                </div>
                                {% if small_advert%}
                                <div class="tc-widget-adbox-style1">
                                    <a href="{{small_advert.url_booking}}" class="img">
                                        <img src="{{small_advert.image.url}}" alt="" class="">
                                    </a>
                                </div>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
    {% include 'include/footer.html' %}


<style>
    .result-item {
      background: #f7f7f7; /* Цвет фона, как у ваших блоков голосования */
      border: 1px solid #ddd; /* Граница, как у ваших блоков голосования */
      border-radius: 8px; /* Скругление углов, как у ваших блоков голосования */
      margin: 20px 0; /* Отступы, как у ваших блоков голосования */
      padding: 15px; /* Внутренние отступы, как у ваших блоков голосования */
      transition: all 0.2s ease-in-out; /* Плавность переходов, если таковые имеются */
    }
    
    .result-name {
      display: block; /* Если вам нужно, чтобы имя результата было на отдельной строке */
      margin-bottom: 10px; /* Если вам нужен отступ между именем и прогресс-баром */
    }
    
    .result-progress-background {
      background-color: #e6e6e6; /* Цвет фона прогресс-бара */
      border-radius: 8px; /* Скругление углов прогресс-бара */
      overflow: hidden; /* Скрытие части прогресс-бара, выходящей за пределы радиуса */
    }
    
    .result-progress-bar {
      height: 20px; /* Высота прогресс-бара */
      background-color: #4db765; /* Цвет прогресс-бара */
      width: 0; /* Начальная ширина, которая будет изменена через JS */
      line-height: 20px; /* Высота строки, чтобы текст был по центру прогресс-бара */
      color: white; /* Цвет текста внутри прогресс-бара */
      text-align: right; /* Выравнивание текста внутри прогресс-бара */
      padding-right: 5px; /* Отступ справа для текста внутри прогресс-бара */
      border-radius: 8px 0 0 8px; /* Скругление только левых углов прогресс-бара */
    }
    
    .result-percentage {
      font-size: 14px; /* Размер шрифта для процентов */
      margin-left: 5px; /* Отступ слева для процентов */
    }
</style>
 
<script>
    $(document).ready(function() {
        $(".vote-button").click(function() {
            var nominationId = $(this).data('nomination-id');
            var form = $(this).closest('form'); // Найти ближайшую форму от кнопки голосования
    
            var selectedOption = $("#options" + nominationId + " input[type='radio']:checked").val();
            if (selectedOption) {
                $.ajax({
                    type: 'POST',
                    url: '{% url "vote" %}',
                    data: {
                        'option_id': selectedOption,
                        'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val(),
                    },
                    dataType: 'json',
                    success: function(data) {
                        if (data.hasVoted) { // Предположим, что 'hasVoted' - это поле в ответе от сервера
                            alert('Вы уже голосовали.');
                        } else {
                            form.hide(); // Скрыть форму после голосования
                            var resultsContainer = $("#resultsContainer" + nominationId);
                            resultsContainer.empty();
        
                            data.results.forEach(function(result) {
                                var progressBarWidth = result.percentage + '%';
                                resultsContainer.append(
                                    '<div class="result-item">' +
                                        '<span class="result-name">' + result.name + ' - ' + result.votes + ' голос(ов)</span>' +
                                        '<div class="result-progress-background">' +
                                            '<div class="result-progress-bar" style="width: ' + progressBarWidth + ';">' +
                                                progressBarWidth +
                                            '</div>' +
                                        '</div>' +  
                                    '</div>'
                                );
                            });
                            resultsContainer.show(); // Показать результаты
                        }
                    },
                    error: function(error) {
                        console.error('Ошибка: ', error);
                    }
                });
            } else {
                alert('Выберите вариант перед голосованием.');
            }
        });
    });
</script>
<!-- Не забудьте подключить этот блок кода перед закрывающим тегом </body> -->
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const countdownTimer = document.getElementById('countdown-timer');
        const endTime = new Date('{{ end_time|safe }}').getTime();
  
      const updateTimer = () => {
        const now = new Date().getTime();
        const distance = endTime - now;
  
        const days = Math.floor(distance / (1000 * 60 * 60 * 24));
        const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        const seconds = Math.floor((distance % (1000 * 60)) / 1000);
  
        countdownTimer.innerHTML = `До окончания голосования осталось: <br> ${days} дней ${hours} часов ${minutes} минут ${seconds} секунд`;
  
        if (distance < 0) {
          clearInterval(timerInterval);
          countdownTimer.innerHTML = "Голосование окончено";
        }
      };
  
      const timerInterval = setInterval(updateTimer, 1000);
    });
  </script>
  


{% endblock %}


