{% load static %}
    <!-- ====== start footer ====== -->
    <footer class="footer-style1">
        <div class="container">
            <div class="tc-subscribe-style1">
                <div class="row justify-content-between align-items-center">
                    <div class="col-lg-4">
                        <div class="sub-info">
                            <h5>Получайте лучшие истории из блога на свой почтовый ящик</h5>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <form method="post">
                            {% csrf_token %}
                            <div class="sub-form">
                                <div class="form-group">
                                    <span class="icon">
                                        <i class="la la-envelope"></i>
                                    </span>
                                    <input type="text" name="email" class="form-control" placeholder="Введите почту">
                                    <button>ПОДПИСАТЬСЯ</button>
                                </div>
                                <p class="mt-2 color-666 fsz-13px fst-italic">Оформив подписку, вы приняли наше  <a
                                        href="home-default.html#" class="text-decoration-underline fst-normal color-000">Политика</a></p>
                            </div>
                        </form> 
                    </div>
                </div>
            </div>

            <div class="content">
                <div class="row gx-lg-5">
                    <div class="col-lg-4">
                        <div class="info">
                            <div class="foot-logo">
                                <img src="{{setting.logo.url}}" alt="" class="dark-none">
                                <img src="{% static 'assets/img/logo_home1_lt.png' %}" alt="" class="light-none">
                            </div>
                            <div class="data-info">
                                {% comment %} <p>
                                    <b>Operated by : </b> ThemesCamp Company, Inc.
                                </p>
                                <p>
                                    <b> Tax Code: </b> 0514234567
                                </p> {% endcomment %}
                                <p>
                                    <b> Адрес: </b> {{setting.location}}
                                <p>
                                    <b> Почта : </b> {{setting.email}}
                                </p>
                                <p>
                                    <b> Телефоннный номер : </b> {{setting.phone    }}
                                </p>
                            </div>

                            <div class="social-links">
                                {% if setting.facebook%}
                                <a href="{{setting.facebook}}">
                                    <i class="la la-facebook"></i>
                                </a>
                                {% endif %}
                                {% if setting.whatsapp %}
                                <a href="{{setting.whatsapp}}">
                                    <i class="la la-whatsapp"></i>
                                </a>
                                {% endif %}
                                {% if setting.instagram %}
                                <a href="{{setting.instagram}}">
                                    <i class="la la-instagram"></i>
                                </a>
                                {% endif %}
                                {% if setting.youtube  %}
                                <a href="{{setting.youtube }}">
                                    <i class="la la-youtube"></i>
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="link-group">
                            <div class="title">Business</div>
                            <ul>
                                <li>
                                    <a href="home-default.html#" class="f-link">Startup</a>
                                </li>
                                <li>
                                    <a href="home-default.html#" class="f-link">Business Trends</a>
                                </li>
                                <li>
                                    <a href="home-default.html#" class="f-link">Work Culture</a>
                                </li>
                                <li>
                                    <a href="home-default.html#" class="f-link">Personal Finance</a>
                                </li>
                                <li>
                                    <a href="home-default.html#" class="f-link">Leaders</a>
                                </li>
                                <li>
                                    <a href="home-default.html#" class="f-link">Stocks Market</a>
                                </li>
                            </ul>
                        </div>
                        <div class="link-group">
                            <div class="title">Politics</div>
                            <ul>
                                <li>
                                    <a href="home-default.html#" class="f-link">Capital Journal</a>
                                </li>
                                <li>
                                    <a href="home-default.html#" class="f-link">National Security</a>
                                </li>
                                <li>
                                    <a href="home-default.html#" class="f-link">Politics Video</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="link-group">
                            <div class="title">Technology</div>
                            <ul>
                                <li>
                                    <a href="home-default.html#" class="f-link">Personal Technology</a>
                                </li>
                                <li>
                                    <a href="home-default.html#" class="f-link">Product Reviews</a>
                                </li>
                                <li>
                                    <a href="home-default.html#" class="f-link">Video Games</a>
                                </li>
                                <li>
                                    <a href="home-default.html#" class="f-link">Discover</a>
                                </li>
                                <li>
                                    <a href="home-default.html#" class="f-link">Knowledge</a>
                                </li>
                            </ul>
                        </div>
                        <div class="link-group">
                            <div class="title">Lifestyle</div>
                            <ul>
                                <li>
                                    <a href="home-default.html#" class="f-link">Lifestyle Trends</a>
                                </li>
                                <li>
                                    <a href="home-default.html#" class="f-link">Family</a>
                                </li>
                                <li>
                                    <a href="home-default.html#" class="f-link">Psychology</a>
                                </li>
                                <li>
                                    <a href="home-default.html#" class="f-link">Fashion</a>
                                </li>
                                <li>
                                    <a href="home-default.html#" class="f-link">Foods</a>
                                </li>
                                <li>
                                    <a href="home-default.html#" class="f-link">Culture</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="link-group">
                            <div class="title">Entertainment</div>
                            <ul>
                                <li>
                                    <a href="home-default.html#" class="f-link">Music & Podcasts</a>
                                </li>
                                <li>
                                    <a href="home-default.html#" class="f-link">Art & Design</a>
                                </li>
                                <li>
                                    <a href="home-default.html#" class="f-link">Movies</a>
                                </li>
                            </ul>
                        </div>
                        <div class="link-group">
                            <div class="title">Sport</div>
                            <ul>
                                <li>
                                    <a href="home-default.html#" class="f-link">Football</a>
                                </li>
                                <li>
                                    <a href="home-default.html#" class="f-link">Tennis</a>
                                </li>
                                <li>
                                    <a href="home-default.html#" class="f-link">F-1 Racing Tour</a>
                                </li>
                                <li>
                                    <a href="home-default.html#" class="f-link">NBA</a>
                                </li>
                                <li>
                                    <a href="home-default.html#" class="f-link">Basketball</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="link-group">
                            <div class="title">Travel</div>
                            <ul>
                                <li>
                                    <a href="home-default.html#" class="f-link">Discovery</a>
                                </li>
                                <li>
                                    <a href="home-default.html#" class="f-link">Flight Tickets & Hotel</a>
                                </li>
                                <li>
                                    <a href="home-default.html#" class="f-link">Tour</a>
                                </li>
                                <li>
                                    <a href="home-default.html#" class="f-link">Destination</a>
                                </li>
                                <li>
                                    <a href="home-default.html#" class="f-link">Experience & Reviews</a>
                                </li>
                            </ul>
                        </div>
                        <div class="link-group">
                            <div class="title">Help Center</div>
                            <ul>
                                <li>
                                    <a href="home-default.html#" class="f-link">About Us</a>
                                </li>
                                <li>
                                    <a href="home-default.html#" class="f-link">Contact</a>
                                </li>
                                <li>
                                    <a href="home-default.html#" class="f-link">Partners Programe</a>
                                </li>
                                <li>
                                    <a href="home-default.html#" class="f-link">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="home-default.html#" class="f-link">Term & Conditions</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="foot text-center py-4 border-1 border-top brd-gray">
                <p class="fsz-13px color-666">© 2023 Copyrights by <a href="home-default.html#" class="color-000">Newzin</a>. All Rights
                    Reserved. Developed by <a href="home-default.html#" class="color-000 text-decoration-underline">ThemesCamp</a></p>
            </div>
        </div>
        <!-- ====== start to top button ====== -->
        <a href="home-default.html#" class="to_top">
            <i class="la la-angle-up"></i>
        </a>
        <!-- ====== end to top button ====== -->
    </footer>