{% load static %}
<footer class="footer-section">
    <div class="container">
        <div class="footer-cta pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="cta-text">
                            <h4>Найди нас</h4>
                            <span>{{setting.location}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-phone"></i>
                        <div class="cta-text">
                            <h4>Позвоните нам</h4>
                            <span>{{setting.phone}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="far fa-envelope-open"></i>
                        <div class="cta-text">
                            <h4>Напишите нам</h4>
                            <span>{{setting.email}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="{% url 'index' %}"><img src="{{setting.logo_white.url}}" class="img-fluid" alt="logo"></a>
                        </div>
                        <div class="footer-text">
                            <p>{{setting.descriptions}}</p>
                        </div>
                        <div class="footer-social-icon">
                            <span>Подписывайтесь на нас</span>
                            {% if setting.facebook%}
                            <a href="{{setting.facebook}}">
                                <i class="la la-facebook"></i>
                            </a>
                            {% endif %}
                            {% if setting.whatsapp %}
                            <a href="{{setting.whatsapp}}">
                                <i class="la la-whatsapp"></i>
                            </a>
                            {% endif %}
                            {% if setting.instagram %}
                            <a href="{{setting.instagram}}">
                                <i class="la la-instagram"></i>
                            </a>
                            {% endif %}
                            {% if setting.youtube  %}
                            <a href="{{setting.youtube }}">
                                <i class="la la-youtube"></i>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Полезные ссылки</h3>
                        </div>
                        <ul>
                            <li><a href="{% url 'index' %}">Главная страница    </a></li>
                            <li><a href="{% url 'blog' %}">Новости</a></li>
                            
                            <li><a href="{% url 'contact' %}">Контакты</a></li>
                            <li><a href="{% url 'magazine' %}">Журналы</a></li>
                            <li><a href="{% url 'vote' %}">Голосование</a></li>
                            <li><a href="{% url 'banner' %}">Рекламадателям</a></li>
                            <li><a href="{% url 'about' %}">О нас</a></li>
                            <li><a href="#">Партнеры</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Подписаться</h3>
                        </div>
                        <div class="footer-text mb-25">
                            <p>Получайте лучшие истории из блога на свой почтовый ящик</p>
                        </div>
                        <div class="subscribe-form">
                            <form method = "POST">
                                {% csrf_token %}
                                <input type="text" name="email" placeholder="Почта">
                                <button name = "message_send" ><i class="la la-telegram"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2022, All Right Reserved <a href="https://www.instagram.com/codex_kg/">CodexStudio</a></p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="{% url 'index' %}">Главная страница</a></li>
                            <li><a href="{% url 'about' %}">О нас</a></li>
                            <li><a href="#">Партнеры</a></li>
                            <li><a href="{% url 'contact' %}">Контакты</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>