{% load static%} 
<div class="navbar-container">
    <div class="container">
        <!-- ====== start top navbar ====== -->
        <div class="top-navbar style-1">
            <div class="container p-0">
                <div class="row align-items-center">
                    <div class="col-lg-4">
                        <div class="date-weather mb-3 mb-lg-0">
                            <div class="row align-items-center">
                                <div class="col-6">
                                    <div class="item">
                                        <div class="icon me-3 pt-1">
                                            <i class="la la-calendar"></i>
                                        </div>
                                        <div class="inf">
                                          <strong>{{ current_date|date:"l" }}</strong>
                                            <p>{{ current_date|date:"Y-m-d" }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="item">
                                        <div class="icon me-3 pt-1">
                                            <i class="la la-cloud-sun"></i>
                                        </div>
                                        <div class="inf">
                                            <strong>{{temperature}}, {{weather_condition}}</strong>
                                            <p>Бишкек</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <a href="{% url 'index' %}" class="logo-brand d-none d-lg-block">
                            <img src="{{setting.logo.url}}" alt="" class="dark-none">
                            <img src="{{setting.logo_white.url}}" alt="" class="light-none">
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <div class="sub-darkLight">
                            <div class="row text-end align-items-center">
                                    <div class="col-6">
                                        <a href="#"
                                            class="text-uppercase fs-6 border-bottom border-1 border-dark subs">
                                            <i class="la la-envelope fs-5 me-1"></i>
                                            Подписаться
                                        </a>
                                    </div>
                                    <div class="col-6">
                                        <div class="darkLight-btn">
                                            <span class="icon active" id="light-icon">
                                                <i class="la la-sun"></i>
                                            </span>
                                            <span class="icon" id="dark-icon">
                                                <i class="la la-moon"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            <div class="nav-subs-card">
                                <form method="post">
                                    {% csrf_token %}
                                    <p class="fsz-16px text-uppercase mb-20"> НОВОСТНАЯ РАССЫЛКА </p>
                                    <div class="sub-form">
                                        <div class="form-group">
                                            <span class="icon">
                                                <i class="la la-envelope"></i>
                                            </span>
                                            <input type="email" name="email" class="form-control" placeholder="Введите почту" required>
                                            <button type="submit">Подписаться</button>
                                        </div>
                                        <p class="mt-3 color-666 fsz-12px fst-italic">Оформив подписку, вы приняли наше  <a href="home-default.html#0" class="color-777 text-decoration-underline fst-normal">Политика</a></p>
                                    </div>
                                </form> 
                                <span class="cls"> <i class="la la-times"></i> </span>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ====== end top navbar ====== -->
        <nav class="c-header-nav">
            <div class="c-layout c-nav-layout">
                <div class="c-header-nav-logo">
                </div>
                <ul class="c-menu c-menu-nav">
                    {% for category in category%}
                    <li><a href="{% url 'category' category.id %}" class="">{{category.title}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
        <!-- ====== start navbar ====== -->
        <nav class="navbar navbar-expand-lg navbar-light style-1">
            <div class="container p-0">
                <div class="mob-nav-toggles d-flex align-items-center justify-content-between">

                    <a href="home-default.html#" class="logo-brand d-block d-lg-none w-50 my-4">
                        <img src="{{setting.logo.url}}" alt="" class="dark-none">
                        <img src="{{setting.logo_white.url}}" alt="" class="light-none">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}">
                                Главная страница
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'blog' %}">
                                Новости
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'magazine' %}">
                                Журналы
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about' %}">
                                О нас
                            </a>
                        </li>
                        {% comment %} <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="home-default.html#" id="navbarDropdown1" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Страницы
                            </a>
                            <ul class="dropdownMenu" aria-labelledby="navbarDropdown1">
                                <li><a class="dropdown-item" href="{% url 'about'  %}">О нас</a></li>
                                <li><a class="dropdown-item" href="{% url 'team'  %}">Наша команда</a></li>
                            </ul>
                        </li> {% endcomment %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'banner' %}">
                                Рекламодателям
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contact' %}">
                                Контакты
                            </a>
                        </li>
                        
                        
                    </ul>
                    <div class="nav-side">
                            {% if user.is_authenticated %}

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="home-default.html#" id="navbarDropdown1" role="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        {{user.username}}
                                    </a>

                                    <ul class="dropdownMenu" aria-labelledby="navbarDropdown1">
                                        <li><a class="dropdown-item" href="{% url 'profile' request.user.id %}">Профиль</a></li>
                                        <li><a class="dropdown-item" href="{% url 'logout' %}">Выйти</a></li>
                                    </ul>
                                </li>
                            {% else %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="home-default.html#" id="navbarDropdown1" role="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        Войти
                                    </a>

                                    <ul class="dropdownMenu" aria-labelledby="navbarDropdown1">
                                        <li><a class="dropdown-item" href="{% url 'register' %}">Регистрация</a></li>
                                        <li><a class="dropdown-item" href="{% url 'login' %}">Войти</a></li>
                                    </ul>
                                </li>
                            {% endif %}
                           
                            
                        <a href="#" class="icon-link search-btn-style1">
                            <i class="la la-search fs-4 sOpen-btn"></i>
                            <i class="la la-close fs-4 sClose-btn"></i>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- ====== end navbar ====== -->

        <!-- ====== start nav-search ====== -->
        <div class="nav-search-style1">
            <div class="row justify-content-center align-items-center gx-lg-5">
                <div class="col-lg-4">
                    <div class="info">
                        <h5> Вы можете искать по категориям <br> Или название новости </h5>
                    </div>
                </div>
                <div class="col-lg-6">
                    <form class="form" action="{% url 'search' %}" method = "GET">
                        {% csrf_token %}
                        <span class="color-777 fst-italic text-capitalize mb-2 fsz-13px">Введите Ключевое Слово</span>
                        <div class="form-group">
                            <span class="icon">
                                <i class="la la-search"></i>
                            </span>
                            <input type="text" name = "query" class="form-control" placeholder="Спорт ... ">
                            <button type="submit">Поиск</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
                </div>
            </div>
        </nav>
        <!-- ====== end navbar ====== -->
        
        <!-- ====== start nav-search ====== -->
        <div class="nav-search-style1">
            <div class="row justify-content-center align-items-center gx-lg-5">
                <div class="col-lg-4">
                    <div class="info">
                    </div>
                </div>
                
            </div>
        </div>
        <!-- ====== end nav-search ====== -->
    </div>
</div>