{% extends 'include/homepage.html'%}
{% load static %}
{% block content %}
    <!-- ====== start loading page ====== -->
    <div id="preloader">
    </div>
    <!-- ====== end loading page ====== -->

    <!-- ====== start navbar-container ====== -->
    {% include 'include/header.html'%}

    <!-- ====== start navbar-container ====== -->


    <!--Contents-->
    <main>

        <!-- ====== start tc-main-post-style1 ====== -->
        <section class="tc-main-post-style1 pb-60">
            <div class="container">
                <div class="tc-main-post-content color-000">
                    <div class="row">
                        <div class="col-lg-10">
                            <p class="info-text sm-content-width mt-40">
                                {{banner.title|safe}}</p> 
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="tc-products-content section-padding">
            <div class="container">
                <div class="title text-center mb-30">
                    <h2 class="fsz-30px"> Журнал </h2>
                </div>
                <div class="related-products-slider tc-products position-relative tc-slider-style1">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                         {% for magazine in magazine %}

                            <div class="swiper-slide">
                                <div class="product-card">
                                    <div class="img">
                                        <img src="{{magazine.image.url}}"  style="border-radius: 15px;" alt="">
                                    </div>
                                    <div class="info pt-30">
                                        <a href="{% url 'magazine_detail' magazine.id %}" class="title">{{magazine.title}}</a>
                                        <br>
                                        <strong class="price"> {{magazine.price}} </strong>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        
                        </div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </section>

        {% if site %}
        <section class="tc-products-content section-padding">
            <div class="container">
                <div class="title text-center mb-30">
                    <h2 class="fsz-30px"> Сайт </h2>
                </div>
                <div class="related-products-slider tc-products position-relative tc-slider-style1">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                         {% for magazine in site %}

                            <div class="swiper-slide">
                                <div class="product-card">
                                    <div class="img">
                                        <img src="{{magazine.image.url}}" style="border-radius: 15px;" alt="">
                                    </div>
                                    <div class="info pt-30">
                                        <a href="{% url 'site_detail' magazine.id %}" class="title">{{magazine.title}}</a>
                                        <br>
                                        <strong class="price"> {{magazine.price}} </strong>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        
                        </div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </section>
        {% endif %}
    </main>
    <!-- ====== start footer ====== -->
    {% include 'include/footer.html' %}

    <!-- ====== end footer ====== -->

{% endblock %}